.header-container {
  width: 100%;
  border-bottom: 1px solid #d3d3d3;
  display: flex;
  align-items: center;
}

.header-title {
  /* width: 50%; */
  padding-left: 30px;
}

.header-option {
  position: absolute;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 17%;
}

.innerText {
  opacity: 50%;
  transition: all 0.5s;
}

.innerText:hover {
  /* border-bottom: 1px solid black; */
  opacity: 100%;
}

.header-text {
  position: relative;
}
