.body-content-container {
  width: 100%;
  display: flex;
  /* justify-content: center; */
  justify-content: space-evenly;
  padding-top: 40px;
}

.body-content-circle {
  width: 300px;
  height: 300px;
  border: 1px solid #ebebeb;
  border-radius: 500px;
  -webkit-box-shadow: 1px 5px 10px 5px rgba(0, 0, 0, 0.13);
  box-shadow: 1px 5px 10px 5px rgba(0, 0, 0, 0.13);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.body-content-title-container {
  display: flex;
  justify-content: center;
}

.biggest-container {
  margin-top: 100px;
  margin-bottom: 100px;
}

.body-content-circle-num {
  margin-top: 30px;
}
