.biggest-container-2 {
  display: flex;
  justify-content: space-evenly;
}

.post-container {
  text-align: center;
  width: 300px;
  height: 450px;
  margin-top: 150px;
  -webkit-box-shadow: -1px 5px 15px 5px rgba(0, 0, 0, 0.16);
  box-shadow: -1px 5px 15px 5px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
